body{
    background-image: url("http://static.simpledesktops.com/uploads/desktops/2014/11/12/green.png.625x385_q100.png");
    color:orange  ;
    font-size:;
} 

@media (min-width: 320px) and (max-width: 480px) {
   html,body{
   	      background-color: red;
   }
}

@media (min-width: 768px) and (max-width: 1024px){
   html,body{
   	     background-image: url(http://2.bp.blogspot.com/-p6249VAqnmk/TnCMXNVxAUI/AAAAAAAAA5M/lrUWMWu2CbA/s1600/Background%2B9.jpg);
   }

   @import url(http://fonts.googleapis.com/css?family=Chango);

body {
  padding-top:50px;
}

h1 {
  font-family:'Chango';
  font-size:60px;  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body{
  text-align:center;
  background-color:#f2f2f2;
}